<!DOCTYPE html>
<html>
  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      {{#if user}}
        
        <form action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
        <a href="/private/main">Main Page</a>
        <a href="/private/private">Private Page</a>
        <a href="/private/profile">Profile Page</a>
      {{else}}
        <a href="/authentication/sign-in">Sign In</a>
        <a href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </nav>
    {{{body}}}
  </body>
</html>
