<form action="" method="POST">
  <label for="username-input"></label>
  <input type="text" name="username" id="username-input" placeholder="Your Username" required minlength="4">

  <label for="password-input"></label>
  <input type="password" name="password" id="password-input" placeholder="Your Password" required minlength="4">

  <button>Sign In</button>
</form>