<form action="" method="POST">
  <label for="username-input"></label>
  <input type="text" name="username" id="username-input" placeholder="Username" required minlength="4">

  <label for="name-input"></label>
  <input type="text" name="name" id="name-input" placeholder="Full Name">

  <label for="password-input"></label>
  <input type="password" name="password" id="password-input" placeholder="Password" required minlength="4">

  <button>Sign Up</button>
</form>