$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  padding: 50px;
  font-family: $font-sans;
}

a {
  color: $link-color;
}

input:invalid {
border: 2px dashed red;
}

input:invalid:required {
background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
border: 2px solid black;
}